/* Stylesheet by Ian H Freel, 2023 */
#map {width:620px; height:620px;
  border-radius: 10px;}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
img {
    margin-left:auto;
    margin-right:auto;
    width: 50%;
    padding: 10px;
    display: block;
  }
h1 {
    text-align: center;
    color:#0092ca; 
    font-family:sans-serif;
    font-size: 45px;
}

body { 
	background-color: #222831; 
}
	
.second-color { 
  
  border: 5px, #393e46;
}

p { 
  text-align: center;
	color: #eeeeeed5; 
  font-family: sans-serif;
  font-size: 23px;
}

.fourth-color { 
	background: #eeeeee; 
}

  h3 {
    text-align: center;
}


.image-container img {
  display: inline-block;
 }
 
#map2 {
  width:790px; height:790px;
border-radius: 10px;}

  .center2 {
    margin: auto;}


.img2
{
  border-radius: 20px;
}